<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulations</title>
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/config.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/mobile-score.js"></script>
    <link rel="stylesheet" href="/static/css/mobile-score.css"/>
</head>
<body>
<h1 id="title"> </h1>
<h2>Will you be able to beat him?</h2>
<h2 id="link"></h2>
<h2>Share the page to your SNS by clicking "Share"</h2>
</body>
</html>