<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Single Dogs</title>
    <script src="/static/lib/peerjs/peer.min.js"></script>
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>
    <script src="/config.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/connection-bean.js"></script>
    <script src="/static/js/mobile-client.js"></script>
    <link rel="stylesheet" href="/static/css/mobile-client.css"/>
</head>
<body>
    <div id="state">Loading...</div>
    <button id="reset"> RESET </button>
    <hr>
    <div id="control"></div>
</body>
</html>