<!DOCTYPE html>
<html lang="en">
<head>
    <title>HACKxFDU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/player-index.css">
</head>
<body>
<!--<h1>HACK x FDU</h1>-->
<br>
<br>
<div style="display: inline;">
<img src="static/img/logo.png" ondragstart="return false;" oncontextmenu="return false;">
<img class="QR_Code" src="static/img/QR_Code.jpg">
</div>
<br>
<br>
<br>
<a class="blue button" href="/player-client">Start Game</a>

</body>
</html>
